body {
    background-color: rgb(34, 89, 134);
}

header {
    color: white;
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

main {
    margin-top: 20px;
}

.container {
    margin: 0 auto;
    height: 600px;
    width: 600px;
    display: grid;
    background-color: white;
}

button{
    background-color: #853131;
    border: 3px solid #853131;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 90px;
}